/* Add CSS Styling */
p {
  background-color: #ff000050;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

p.large {
  font-size: 24px;
}

#blue {
  color: #0000ff;
  font-size: 36px;
}

#green {
  background-color: #00ff0080;
  font-size: 24px;
  font-weight: 700;
}
